
<div class="content"><span>
{{title}} app is running!
</span></div>
<form [formGroup]="contactForm">
 
  <p *ngIf="show">
    <label class="data" for="anyData">Add Data</label>
    <input type="text" id="anyData" name="anyData" formControlName="anyData">
  </p>

 
  <p>
    <label for="allow">Show Input</label>
    <input type="checkbox" (change)="handleChange()" id="showInput" name="showInput" formControlName="showInput">
  </p>

 
  <p>
    <button type="submit">Submit</button>
  </p>
 
</form>